@charset "utf-8";
.trusted-head{
    left: 0;
    top: 0;
    width: 100%;
    .ts-bg1{background: #21ad49;
        .know-detail{
            height: 48px;
            width: 100%;
            line-height: 48px;
            font-size: 16px;
            color: #fff;
            a{
                color: #ffe6ae;
                display: inline-block;

            }
            .ts-left img{
                margin: 0 20px;
            }
            .ts-right img{
                margin: 0 95px 0 16px;
                vertical-align: middle;
                
              
            }
            
        }


    }
    .ts-bg2{
        background-color: #f0eadc;
        .trusted-info{
            height: 43px;
            line-height: 43px;
            width: 100%;
            font-size: 14px;
            color: #5fbf89;
          .blank{width: 43px;height: 43px;}

          .mar{
            width: 217px;
                i{  width: 14px;
                    height: 14px;
                    display: inline-block;
                    margin-right: 14px;
                    vertical-align: middle;
                    margin-bottom: 3px;
                    background: url("../img/true.png") no-repeat;
                }
            }  
        }
        
    }
}
.top_r_hide{position: absolute;z-index: 20;top: 0;right: 0;}
.siteNav{
    height: 30px;
    background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
   .site_nav_bd{
    .site_nav_bd_l {
        float: left;
    }
    .site_nav_bd_r{
        float: right;
        padding-right: 80px;
        .topmenu li{
            float: left;
            line-height: 30px;
            margin-right: 5px;
            position: relative;
            a{
                display: inline-block;
                font-size: 12px;
                padding: 0 10px;
                color: #5b5b5b;
            }
            .hidebox{
                position: absolute;
                width: 85px;
                background: #fff;
                a:hover{color:#1978be;}
            } 
        }
        .topmenu .header_down{display: inline-block; height: 20px;width: 10px;background: url(../img/top_down.png) no-repeat 0 8px;margin: 0 3px;}
    }
        .topmenu .top_phone{display: inline-block; height: 20px;width: 15px;background: url(../img/top_phone.png) no-repeat 0 5px;margin: 0 3px;position: relative;top: 3px;}
        .topmenu .top_list{display: inline-block; height: 20px;width: 15px;background: url(../img/top_list.png) no-repeat 0 5px ;margin: 0 3px;position: relative;top: 3px;}
    } 
}
// toubu
 .siteHeader{
    height: 120px;
    .site_head{
        .logo{
            width: 390px;
            height: 50px;
            margin-top: 35px;
            float: left;
            background: url(../img/logo-1.png) no-repeat;
        }
        .mod_search{
            float: left;
            margin: 35px 0 0 20px;
            .searchForm{
                width: 500px;
                height: 33px;
                border: 3px solid #0c69ae;
                .search-wrapper{
                    float: left;
                    width: 420px;
                    background: #fff;
                    .wrap-search{
                        height: 33px;
                        line-height: 33px;
                        padding-left: 12px;
                        color: #666;
                        width: 445px;
                    }
                }
                .search-button{
                float: left;
                width: 80px;
                height: 34px;
                line-height: 34px;
                overflow: hidden;
                text-align: center;
                background: #0c69ae;
                    .search-btn{
                        font-size: 16px;
                        line-height: 31px;
                        cursor: pointer;
                        color: #fff;
                        background: #0c69ae;
                        vertical-align: top;
                    }
                }
            }
            .search-more{
                a{
                margin-right: 8px;
                color: #999;
                line-height: 25px;
                font-size: 12px;
                }
                a:hover{
                    color: #d60035;
                } 
            }

        }
        .phone{
            margin-top: 38px;
            float: right;
            ul li{
                 float: left;
                 font-size: 12px;
                 color: #999;
                 margin-right: 0px;
                 span{
                    font-size: 12px;
                    color: #999;
                }
                i{
                    margin: 0 5px 0 0;
                    float: left;
                    font-size: 36px;
                    color: #4095d4;
                }
            }
            ul .last{
                width: 150px;
                margin-right: 20px;
                span b{
                    color: #bc8720;
                    font-size: 16px;
                    font-weight: normal;
                }
                i{
                   color: #bc8720; 
                }
            }
        }
    }
 }
// toubucaidan
.header-wrapper{
    border-bottom: 2px solid #0c69ae;
}
.headerNavMain {
    .nav-all{
        float: left;
        width: 205px;
        background: #0c69ae;
        width: 205px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        span{
            cursor: pointer;
            color: #fff;
            width: 190px;
            display: inline-block;
            font-size: 17px;
        }
        .yHeader{
            text-align: left;
           .yNavIndex{
            position: absolute;
            z-index: 2;
            .pullDown{
                position: absolute;
                .pullDownList{
                    width: 205px;
                    height: 405px;
                    background: #1978be;
                    position: relative;
                    z-index: 2;
                    padding: 10px 0;
                    li{
                        height: 40px;
                        line-height: 40px;
                        font-size: 12px;
                        color: #efefef;
                        padding-left: 10px;
                        position: relative;
                        i{
                            font-size: 19px;
                            color: #fff;
                            display: inline-block;
                            margin: -4px 5px 0 0;
                        }
                        a{
                            color: #fff;
                            font-size: 13px;
                        }
                    }
                }
                // 二级导航 start
                .yMenuListCon{
                    width: 995px;
                    height: 424px;
                    position: absolute;
                    z-index: 4;
                    top: 0px;
                    left: 205px;
                    overflow: hidden;
                    clear: both;
                    background: #fff;
                    .left{
                        float: left;
                        width: 730px;
                        padding-top: 20px;
                        dl::after{
                            clear: both;
                            content: '.';
                            display: block;
                            height: 0;
                            line-height: 0;
                            overflow: hidden;

                        }
                        dt{
                            width: 120px;
                            text-align: right;
                            float: left;
                            margin-right: 5px;
                            font-size: 12px;
                            font-weight: bold;
                            a{
                                i{
                                    font-size: 12px;
                                    margin-left: 5px;
                                }
                            }
                        }
                        dd{
                            float: left;
                            width: 600px;
                            a::after{
                                background: #ccc;
                                height: 10px;
                                width: 1px;
                                display: inline-block;
                                vertical-align: middle;
                                margin: -2px 2px 0 5px;
                                content: " ";
                            }
                        }
                    }
                }
                // 二级导航 end
            }
        } 
        }
        
    }
    .header_links{height: 40px;line-height: 40px;float: left;
        ul li{
            float: left;
            margin-left: 30px;
            position: relative;
            a{
                display: block;
                color: #5b5b5b;
                font-size: 16px;
            }
            a:hover{
                color:#4095d4;
            }
            img{
                position: absolute;
                top: -3px;
                right: -22px;
            }
        }


    }
}
// 公告服务
.top_service{
    position: absolute;
    top: 198px;
    right: 73px;
    width: 210px;
    padding: 10px;
    background: #fff;
    z-index: 1;
    .slideTxtBox{
        width: 100%;
        text-align: left;
        margin-bottom: 18px;
        .hd{
            height: 32px;
            border-bottom: 1px solid #5b5b5b;
            ul li{
                float: left;
                width: 105px;
                height: 30px;
                text-align: center;
                cursor: pointer;
                color: #5b5b5b;
                font-size: 14px;
            }
        }
        .bd{
            .news_ul_list{
                height: 131px;
                font-size: 12px;
                padding-top: 18px;
                margin: 0 auto;
                ul li{
                    height: 25px;
                    line-height: 25px;
                    overflow: hidden;
                    a{
                        color: #5b5b5b;
                    }
                    a:hover{
                        color: #d60035;
                    }
                }
            }
            .goodService{
                padding-top: 20px;
                li{
                    float: left;
                    width: 50%;
                    margin: 10px 0;
                    a{
                        i{
                            float: left;
                            color: #cfa54f;
                            padding: 0 10px 0 20px;
                            font-size: 36px;
                        }
                        span{
                            display: block;
                            // float: left;
                            color: #cfa54f;
                        }
                    }
                }
            }
        }
    }
    .iMoreService{
        border-top: 1px solid #e9e9e9;
        h4{
            margin: 20px 0;
        }
        .iMService_list{
            a dl{
                float: left;
                color: #5f89c5;
                width: 70px;
                text-align: center;
                margin-bottom: 15px;
                dt{
                    margin-bottom: 5px;
                   i{
                    font-size: 30px;
                    } 
                }                   
                dd{
                    
                }
                
            }
        }
    }
}
// 公告服务 end
// 右边菜单 start
.toolbar-wrap{
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 4;
    .toolbar{
        width: 40px;
        height: 100%;
        cursor: pointer;
        position: fixed;
        top: 0;
        background: #4d4d4c;
        .toolbar-tabs{
            position: absolute;
            top: 30%;
            left: 0;
            margin-top: -190px;
            z-index: 2;
            width: 40px;
            color: #fff;
            .toolbar-tab{
                position: relative;
                width: 40px;
                cursor: pointer;
                display: inline-block;
                margin: 2px 0;
                i{
                    color: #fff;
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;
                    display: block;
                    width: 40px;
                }
                .tab-text{
                    width: 62px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    position: absolute;
                    z-index: 1;
                    left: 40px;
                    top: 0;
                    border-radius: 3px 0 0 3px;
                    background-color: #e53b46;
                    transition: left 0.3s ease-in-out 0.1s;
                    cursor: pointer;
                }
            }
            .message_list{
                line-height: 16px;
                margin: 20px 0 10px 0;
                i{
                    color: #fff;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: center;
                    display: block;
                    width: 40px;
                }
                .txt{
                    width: 16px;
                    display: block;
                    height: 60px;
                    cursor: pointer;
                    color: #fff;
                    text-align: center;
                    margin: 10px 11px;
                    font-size: 12px;
                }
                .cart_num{
                    height: 20px;
                    width: 20px;
                    display: block;
                    border-radius: 50%;
                    background: #e53b46;
                    text-align: center;
                    line-height: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: pointer;
                    color: #fff;
                    font-size: 12px;
                }
            }
        }
    }
    // 右边菜单 bottom
    .toolbar-footer{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 38px;
        background: #4d4d4c;
        z-index: 1;
        a{
            color: #fff;
        }
        .toolbar-tab{
            position: relative;
            width: 40px;
            cursor: pointer;
            display: inline-block;
            margin: 2px 0;
            i{
                color: #fff;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                display: block;
                width: 40px;
            }
            em{
                width: 50px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                text-align: center;
                position: absolute;
                z-index: 1;
                left: 40px;
                top: 0;
                font-size: 12px;
                background-color: #e53b46;
                border-radius: 3px 0 0 3px;
                transition: left 0.3s ease-in-out 0.1s;
                cursor: pointer;
                            }
            .qrcode{
                    width: 140px;
                    height: 145px;
                    left: -141px;
                    top: auto;
                    bottom: 0;
                    background-color: #fff;
                    text-align: center;
                    color: #5b5b5b;
                    border: 1px solid #e9e9e9;
                    border-right-color: rgb(233, 233, 233);
                    border-right-style: solid;
                    border-right-width: 1px;
                    border-right: 0;
                    border-radius: 0;
                    position: absolute;
                    // display: block;
                    search-wrapper
                    dl{
                        float: left;
                        padding: 10px 20px;
                        dt{
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                        dd{
                            img{
                                width: 100px;
                            }
                        }
                    }

            }
        }
    }

}
// 右边菜单 end
// 轮播图
.top_picScroll{margin-bottom: 20px;
    .swiper-container {
                    width: 100%;
                    height: 424px;
                    background: #ccc;
                }
    .swiper-pagination-bullet-active {
                    color: #007aff;
                    background: orangered;
                }
    .swiper-wrapper a{
       // width: 100%;
       height: 424px;
       display: block;
       background-position: center top;

    }
}

//轮播图end
//每日领劵
.container{
    .index_getCoupon{
        margin-bottom: 30px;
        dt{
            float: left;
            width: 285px;
            text-align: center;
            padding-top: 15px;
            h4{
                font-size: 30px;
                color: #5b5b5b;
                margin-bottom: 10px;
            }
            .perGet_border{
                border-top: 1px solid #5b5b5b;
                width: 160px;
                margin: 0 auto;
                span{
                    display: inline-block;
                    width: 100px;
                    background: #fff;
                    font-size: 16px;
                    color: #e53b46;
                }
            }
        }
        dd{
            float: left;
            width: 215px;
            margin-right: 10px;
            a{
                display: block;
                position: relative;
                img{
                    width: 213px;
                    height: 120px;
                }
                .ling{
                    width: 38px;
                    height: 38px;
                    position: absolute;
                    right: 0;
                    bottom: 24px;
                }
            }
        }
    }
}
//最大的部分
.index_grayBg{background: #f8f8f8;}
// 药品
.iTab_drugNews{
    margin-bottom: 40px;
    background: #fff;
    .slideTxtBox{
        width: 100%;
        text-align: left;
        .hd{
            height: 57px;
            line-height: 57px;
            background: #f7f7f7;
            border-top: 2px solid #5b5b5b;
            margin-bottom: 30px;
            ul{
                height: 59px;
                li{
                    float: left;
                    width: 400px;
                    text-align: center;
                    font-size: 24px;
                    color: #000;
                    cursor: pointer;
                    i{
                        font-size: 30px;
                        font-weight: normal;
                        vertical-align: middle;
                    }
                    span{
                        margin-left: -10px;
                    }
                }
            }
        }
    }
}
// 药新品
.news_div{
    .medBen{
        dl{
            float: left;
            text-align: center;
            border-right: 1px solid #f0f0f0;
            width: 210px;
            padding: 10px 14.5px;
            a:hover{
                color: #0c69ae;
            }
            a{
                color: #5b5b5b;
                dt{
                    position: relative;
                    img{
                        width: 210px;
                        height: 210px;
                        position: relative;
                        animation: all 1s;
                    }
                    @keyframes mymove{
                       0% {top:0px;}
                        50% {top:-10px;}
                        100%{top: 0px;}
                                        }
                    img:hover{ animation: mymove alternate 2s;}
                }
            }
            dd{
                margin-top: 10px;
                line-height: 25px;
                span{
                    display: block;
                }
                strong{
                    b{
                        font-size: 18px;
                        color: #e53b46; 
                        margin-right: 15px;
                      }
                      i{
                        text-decoration: line-through;
                        color: #999;
                        font-weight: normal;
                      }
                }
            }
            
        }
    }
}

//药咨询
.bd_news_dl{
    dl{
        float: left;
        width: 565px;
        margin-left: 30px;
        // overflow: hidden;
        border-right: 1px solid #e9e9e9;
        height: 165px;
        dt{
            float: left;
            width: 200px;
            margin-right: 25px;
            a{
                
                img{
                    width: 206px;
                    height: 162px;
                }
            }
        }
        dd{
            a{
                color: #5b5b5b;
                h4{
                    font-weight: bold;
                    font-size: 14px;
                }
                p{
                    text-indent: 2em;
                    margin-top: 10px;
                    line-height: 25px;
                    height: 25px;
                    height: 128px;
                    color: #5b5b5b;
                }
            }
        }
    }
}
//药咨询底部
.iTab_drugNews{
    .news_ul_list{
        font-size: 12px;
        border-top: 1px solid #e9e9e9;
        width: 1150px;
        margin: 0 auto;
        padding-top: 20px;
    ul{
        float: left;
        width: 255px;
        margin: 0 15px;
        li{
            height: 25px;
            line-height: 25px;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 7px;
            span{
                background: #e53b46;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
                margin-right: 10px;
            }
            a:hover{color: #0c69ae;
                }
        }
    }
    }  
}


//1F新药特药
.drug_floor{
    margin-bottom: 40px;
    .dFloor1{
        position: relative;
        width: 1200px;
        font-weight: normal;
        font-size: 14px;
        border-bottom: 2px solid #63c19f;
        span{
            display: inline-block;
            background: #63c19f;
            width: 190px;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
            color: #fff;
            text-align: center;
            em{
                margin-left: 10px;
            }
        }
        .dFloor_keyWord{
            right: 0;
            bottom: 10px;
            height: 20px;
            color: #ccc;
            position: absolute;
            a{
                padding: 0 10px;
                color: #5b5b5b;
            }
        }
    }
}
// F新药特药 left
.drug_main{
    .drug_mLeft{
        float: left;
        width: 190px;
        border-right: 1px solid #e9e9e9;
        background: #fff;
        a{
            float: left;
            text-align: center;
            width: 94px;
            height: 52px;
            line-height: 52px;
            border-bottom: 1px solid #e9e9e9;
            border-left: 1px solid #e9e9e9;
            color: #5b5b5b;
            img{
                width: 94px;
                height: 52px;
                vertical-align: top;
            }
        }
    }
    // F新药特药 right
    .drug_mRig{
        float: left;
        // right-top
        .dRig_picScroll_drug{
            // lunbotu
            .dRig_picScroll{
                float: left;
                width: 605px;
                height: 280px;
                background: url(../img/lun_small.jpg) no-repeat;

            }
            .dRig_drug{
                float: right;
                width: 400px;
                height: 219px;
                padding-top: 35px;
                background: #f2f2f2;
                padding-bottom: 20px;
                dl{
                    width: 165px;
                    float: left;
                    margin-left: 20px;
                    a{
                        dt{
                            text-align: center;
                            font-size: 15px;
                            margin-bottom: 20px;
                            span{
                                display: block;
                                color: #e53b46;
                                font-size: 14px;
                                padding-top: 5px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        dd {
                            position: absolute;
                            img{
                                width: 165px;
                                height: 155px;
                                position: relative;
                            }
                        }
                    }
                }
            }

        }
        //right-bottom
        .dRig_drugList{
            background: #fff;
            dl{
                float: left;
                width: 180px;
                text-align: center;
                padding: 10px;
                border-right: 1px solid #e9e9e9;

                dt{
                    position: relative;
                    height: 100px;
                    margin-bottom: 15px;
                    padding-top: 15px;
                    height: 100px;

                    a{
                        color: #5b5b5b;
                        text-align: center;
                     
                        img{
                            width: 100px;
                            height: 100px;
                            position: absolute;
                            display: inline;
                            left: 40px;
                            top:15px;
                            
                        }
                    }
                }
                dd{
                    h4{
                        font-weight: bold;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin-bottom: 5px;
                        color: #5b5b5b;
                    }
                    span{
                        color: #e53b46;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
// 下行广告
.indexBanner{
    height: 90px;
    margin-bottom: 40px;
    img{
        width: 1200px;
        height: 90px;
    }
}
// 下行广告end
// 资讯媒体报导 start
.c_drugNews{
    margin-bottom: 40px;
    .drug_news{
        float: left;
        width: 890px;
        .slideTxtBox{
            text-align: left;
            width: 888px;
            .hd{
                background: #f7f7f7;
                border-bottom: 2px solid #5f89c5;
                position: relative;
                height: 46px;
                ul{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 46px;
                    float: left;
                    line-height: 44px;
                    li.on{
                        height: 44px;
                        background: #fff;
                        color: #5f89c5;
                        border: 2px solid #5f89c5;
                        border-bottom: 2px solid #fff;
                    }
                    li{
                        float: left;
                        padding: 0 25px;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }
            .bd{
                border: 1px solid #ccc;
                padding: 15px;
                text-align: left;
                background: #fff;
                .news_div{
                    display: block;
                    dl{
                        dt{
                            float: left;
                            width: 75px;
                            margin-right: 35px;
                            margin-left: 10px;
                            a{
                                img{
                                    width: 75px;
                                    height: 75px;
                                }
                            }
                        }
                        dd{
                            float: left;
                            width: 700px;
                            font-size: 14px;
                            color: #5b5b5b;
                            a:hover{color: #0c69ae;}
                            a{
                                font-size: 18px;
                            }
                            p{
                                text-indent: 2em;
                                margin-top: 10px;
                                line-height: 25px;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .news_ul_list{
                    margin: 10px 0;
                    font-size: 12px;
                    ul{
                        float: left;
                        width: 255px;
                        margin-right: 25px;
                        height: 25px;
                        line-height: 25px;
                        li{
                            ::before{
                                width: 1px;
                                height: 2px;
                                background: #5b5b5b;
                                display: inline-block;
                                vertical-align: middle;
                                margin-top: -3px;
                                content: " ";
                            }
                            a{
                                span{
                                    color: #5f89c5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 媒体报导 start
    .media_report{
        background: #fff;
        float: right;
        width: 280px;
        border: 1px solid #ddd;
        h4{
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            font-size: 14px;
            span{
                display: inline-block;
                float: right;
            }
        }
        .m_textReport{
            ul{
                 font-size: 12px;
                 width: 250px;
                 text-align: left;
                 margin-left: 10px;
                li{
                    line-height: 24px;
                    height: 25px;
                    em{
                        width: 3px;
                        height: 2px;
                        background: #5b5b5b;
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: -3px;
                        margin-right: 10px;
                    }
                }
                             
            }
            
        }
    }
    // 媒体报导 end
}

.friendship_links{
     margin-bottom: 10px;
     dl{
        line-height: 25px;
        font-size: 12px;
        dt{
            float: left;
            margin-right: 10px;
        }
       dd{
            float: left;
            overflow: hidden;
            width: 1080px;
            height: 25px;
            // height: auto;
             a{
                display: inline-block;
                padding-right: 10px;
             }
        }
        a.arrow_down{
            background: url(../img/arrow_down.png) no-repeat center center;
            background-size: 12px;
            width: 25px;
            height: 25px;
            display: inline-block;
        }
        a.arrow_up{
            background: url(../img/arrow_up.png) no-repeat center center;
            background-size: 12px;
            width: 25px;
            height: 25px;
            display: inline-block;
        }
     } 
}
.footer{
    margin-top: 50px;
    background-color: #fff;
    .footer_top{
        background: #4095d4;
        color: #fff;
        .footer_phone_wrapper{
            padding: 30px 0;
            border-bottom: 1px solid #2382c9;
            h1{
                border-right: 1px solid #2382c9;
                float: left;
                margin-left: 138px;
                font-weight: normal;
                font-size: 14px;
                i{
                    font-size: 50px;
                    float: left;
                }
                span{
                    font-size: 22px;
                    float: left;
                    padding: 0 20px;
                    a{
                        color: #e5cb3b;
                        display: block;
                    }
                }
            }
            dl{
                float: left;
                padding-left: 30px;
                dt{
                    font-size: 22px;
                    float: left;
                    margin-right: 10px;
                    line-height: 58px;
                }
                dd{
                    float: left;
                    span{
                        float: left;
                        // width: 50%;
                        line-height: 58px;
                        margin-right: 24px;
                    }
                }
            }

        }
        .footer_link{
            padding: 20px 0;
            ul{
                border-right: 1px solid #2382c9;
                float: left;
                height: 200px;
                li{
                    float: left;
                    text-align: center;
                    padding-right: 70px;
                    line-height: 30px;
                    img{
                        margin: 20px 0 10px 0;
                    }
                    span{
                        display: block;
                    }
                }
            }
            dl{
                float: left;
                width: 80px;
                padding-left: 70px;
                dt{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                dd a{
                    display: block;
                    color: #fff;
                    line-height: 22px;
                    font-size: 12px;
                }
            }
        }   
    }
    .footer_bottom{
        text-align: center;
        line-height: 25px;
        ul{
            width: 605px;
            height: 75px;
            line-height: 75px;
            margin: 0 auto;
            li{
                color: #bc871f;
                font-size: 18px;
                float: left;
                width: 25%;
                a{
                    i{
                        font-size: 38px;
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }
            }
        }
        dl{
            line-height: 25px;
            dt{
                border-top: 1px solid #d1d1d1;
                padding-top: 10px;
                font-size: 12px;
                b{
                    height: 12px;
                    width: 1px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-left: 10px;
                    background: #5b5b5b;
                }
            }
            dd{
                font-size: 12px;
                img{
                    vertical-align: middle;
                    margin: -3px 10px 0 0;
                }
                .mobile{
                    color: #6088c5;
                    margin-left: 20px;
                    font-size: 12px;
                }
            }
        }
        .outherLogo{
            height: 43px;
            padding: 20px;
            a{
                display: inline-block;
                vertical-align: middle;
                width: 111px;
                height: 43px;
                background: url(../img/outherLogo.jpg) no-repeat 0 0;
                margin-right: 20px;
            }
            a.outherLogo_2{
                background-position: -130px 0;
            }
            a.outherLogo_3{
                background-position: -260px 0;
            }
            a.outherLogo_4{
                background-position: -380px 0;
            }
            a.outherLogo_5{
                background-position: -510px 0;
            }
            a.outherLogo_6{
                background-position: -650px 0;
            }
        }
    }
}